---
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
export async function getStaticPaths() {
  const data = await fetch(
    "https://qfcbmxwfnjdobywkwfei.supabase.co/rest/v1/lineup",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmY2JteHdmbmpkb2J5d2t3ZmVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0ODkyNDAsImV4cCI6MjAyNjA2NTI0MH0.4phUCO3QegbetzxWRquRHEWOYbF8TctgcydbEjOxnxI",
      },
    }
  ).then((response) => response.json());

  return data.map((artist) => {
    return {
      params: { slug: artist.slug },
      props: { myData: artist },
    };
  });
}

const { myData } = Astro.props;
console.log(myData);
// {
//   id: 1,
//   name: 'ÂME',
//   stage: 'MANEGEN',
//   description: 'Âme is the producer duo consisting of Frank Wiedemann and Kristian Beyer. Drawing inspiration from Chicago house and Detroit techno, Âme knows how to create a unique take on melodic techno and beyond. The goal is to make you forget about time and space. Âme will be a DJ performance solely by Kristian Beyer at Karrusel.',
//   image: 'âme.png',
//   'show date': 'THURSDAY',
//   spotify: 'https://open.spotify.com/artist/5muFO8VqYRCRW13EkvX564',
//   instagram: 'https://www.instagram.com/ame_innervisions/?hl=da',
//   slug: 'ame'
// }
---

<MainLayout>
  <div class="artist_image">
    <section class="grid_1-1">
      <article class="artist_info">
        <h1>{myData.name}</h1>
        <h4>{myData.description}</h4>
        <Button size="web" type="box" link_to="/lineup">See all artists</Button>
      </article>
      <article class="artist_info">
        <h3>LOCATION</h3>
        <h4>{myData.stage}</h4>
        <h3>SHOW DATE</h3>
        <h4>{myData.date}</h4>
        <h3>MORE</h3>
        <Button size="web" type="no_box" link_to={myData.spotify}
          >SPOTIFY</Button
        >
        <Button size="web" type="no_box" link_to={myData.instagram}
          >INSTAGRAM</Button
        >
      </article>
    </section>
  </div>
</MainLayout>

<style>
  .artist_image {
    background-image: url(../../../singleview_artist.jpg);
    margin-left: -2em;
    margin-right: -2em;
    height: 1131px;
    margin-top: -8em;
    /* Position: Baggrundsbilledet */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    position: absolute;
    top: 30%;
    background-color: rgba(09, 09, 09, 0.5);
    position: absolute;
    bottom: 0;
  }
  h4 {
    max-width: 65ch;
  }
  .artist_info {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
  }
  .artist_info:first-child h4 {
    margin-bottom: 50px;
  }
  .artist_info:last-child {
    margin-top: 120px;
    align-items: end;
    margin-right: 80px;
  }
  .artist_info:last-child h4 {
    margin-bottom: 25px;
  }
</style>
