<!-- ---
export async function getStaticPaths () {
    const url = "https://qfcbmxwfnjdobywkwfei.supabase.co/rest/v1/lineup";

    const options = {
        headers: {
            apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmY2JteHdmbmpkb2J5d2t3ZmVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0ODkyNDAsImV4cCI6MjAyNjA2NTI0MH0.4phUCO3QegbetzxWRquRHEWOYbF8TctgcydbEjOxnxI" }
        };

const data = await fetch(url, options).then(response => response.json());

return data.map((artist) => {
    return {
        params: {slug: artist.slug}, 
        props: {myData:artist },
    };
}); 
}
const {myData} = Astro.props;
---

<article>
  <div class="artist_img">{myData.image}</div>
  <p class="stage">{myData.stage}</p>
  <p class="date">{myData.date}</p>
  <a class="spotify" href="">{myData.spotify}</a>
  <a class="insta" href="">{myData.instagram}</a>
  <h1 class="artist_name">{myData.name}</h1>
  <h2 class="artist_info">{myData.description}</h2>
</article> -->
